.DS_Store
echoServer/echoServer.pro.user
application/OurCafe.pro.user

build-echoServer-Desktop_Qt_6_6_2_MSVC2019_64bit-Debug/
build-echoServer-Desktop_Qt_6_6_2_MSVC2019_64bit-Profile/
build-echoServer-Desktop_Qt_6_6_2_MSVC2019_64bit-Release/
build-OurCafe-Desktop_Qt_6_6_2_MSVC2019_64bit-Debug/
build-OurCafe-Desktop_Qt_6_6_2_MSVC2019_64bit-Profile/
build-OurCafe-Desktop_Qt_6_6_2_MSVC2019_64bit-Release/
build-Server-Desktop_Qt_6_6_2_MSVC2019_64bit-Debug/
build-Server-Desktop_Qt_6_6_2_MSVC2019_64bit-Profile/
build-Server-Desktop_Qt_6_6_2_MSVC2019_64bit-Release/


